<div class="card bg-dark text-white">

  <div class="card-header d-flex align-items-center">
    <span class="material-icons me-2">
      cloud_upload
    </span>
    Publicar una imagen
  </div>

  {{! IMAGE UPLOAD FORM }}
  <div class="card-body p-5">
    <form action="/images" method="POST" enctype="multipart/form-data">

      <div class="mb-3">
        <input
          type="file"
          name="image"
          class="form-control text-dark border-success"
          required
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          name="title"
          class="form-control bg-dark text-white border border-success"
          placeholder="Titulo para la imagen"
          required
        />
      </div>

      <div class="mb-3">
        <textarea
          name="description"
          rows="2"
          class="form-control bg-dark text-white border border-success"
          placeholder="Deescripcion para la imagen"
          required
        ></textarea>
      </div>

      <div class="form-group">
       <div class="form-group mt-4">
  <button class="blob-btn" type="submit">
    <i class="fa fa-upload"></i> Postear imagen
    <span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
    </span>
  </button>
</div>

<!-- SVG para el efecto Goo -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix"
        values="1 0 0 0 0  
                0 1 0 0 0  
                0 0 1 0 0  
                0 0 0 21 -7"
        result="goo" />
      <feBlend in2="goo" in="SourceGraphic" result="mix" />
    </filter>
  </defs>
</svg>

      </div>

    </form>
  </div>
</div>

<div class="card mt-2 bg-dark text-white">
  <div class="card-header d-flex align-items-center">
    <span class="material-icons me-2">
      cloud
    </span>
    Recent Uploads
  </div>
  <div class="card-body p-5">
    <div class="row">
      {{#each images}}
        <div class="col-md-4 text-center">
          <a href="/images/{{uniqueId}}">
            <img
              src="/uploads/{{filename}}"
              alt="{{title}}"
              class="w-100 h-100"
              style="object-fit: cover;"
            />
          </a>
        </div>
      {{else}}
        <div class="text-light text-center p-5">
          <h1 class="text-light">There are no Images <strong>yet</strong></h1>
          <p>Upload your first image</p>
          <span class="material-icons" style="font-size: 7rem;">
            add_a_photo
          </span>
        </div>
      {{/each}}
    </div>
  </div>
</div>